<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        
        <label>Enter username: </label>
        <input type="text" name="username" placeholder="Enter username" />
        
        <label>Enter password: </label>
        <input type="password" name="password" placeholder="Enter password" />

        <input type="submit" value="login" />
    </form>
</div> 








</body>
</html>